{% extends "base.html" %}
{% block title %}ETLF - Crear Retiro.{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="bi bi-person-plus"></i> Crear Solicitud de Retiro</h4>
            </div>
            <div class="card-body">
                <form method="POST" iaction="{{ url_for('retiros.crear_retiro') }}">
                    <input type="hidden" id="act" name="act" value="{{act}}">
                    <input type="hidden" id="lid" name="lid" value="{{lid}}">
                    <input type="hidden" id="nom" name="nom" value="{{nom}}">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="fec" class="form-label">Fecha *</label>
                            <input type="date" class="form-control" id="fec" name="fec" value="{{fec}}" {{ 'readonly' if act != '-' }} required>
                            <div class="form-text">{{act}}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="pad" class="form-label">Padron *</label>
                            {% if session.user_rol == 'ADMIN' %}
                                <input type="number" class="form-control" id="pad" name="pad" value="{{pad}}" min="0" max="9999" maxlength="4" {{ 'readonly' if act != '-' }} required>
                            {% endif %}
                            {% if session.user_rol == 'SOCIO' %}
                                <select class="form-select" id="pad" name="pad" {{ 'disabled' if act != '-' }} required>
                                    {% for pp in padrones %}
                                    <option value="{{ pp.id }}" 
                                        {% if pp.id == pad %} selected {% endif %} >{{ pp.id }} - PLACA: {{ pp.placa }} </option>
                                    {% endfor %}                                    
                                </select>
                                <input type="hidden" id="pad" name="pad" value="{{pad}}">
                            {% endif %}
                            <div class="form-text">{{nom}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="des" class="form-label">Descripción / Motivo</label>
                            <textarea class="form-control" id="des" 
                                      name="des" rows="3" 
                                      placeholder="Describa el motivo del retiro..."> {{des}} </textarea>
                        </div>
                    </div>

                    <div class="row">
                    </div>
                    
                    {% if act=="pendiente" %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="tip" class="form-label">Tipo de Aporte / Saldo Actual</label>
                                <select class="form-select" id="tip" name="tip" required>
                                    <option value="">Seleccionar tipo de aporte...</option>
                                    {% for tt in tipos %}
                                    <option value="{{ tt.codigo }}" 
                                        {% if tt.codigo == tip %} selected
                                        {% endif %} >{{ tt.codigo }} : {{ tt.descripcion }} - Saldo: S/.{{ tt.saldo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="mnt" class="form-label">Monto por Retirar</label>
                                <div class="input-group">
                                    <span class="input-group-text">S/</span>
                                    <input type="number" step="0.01" class="form-control" id="mnt" name="mnt" min="1" value="{{mnt}}" required>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ url_for('retiros.retiros') }}" class="btn btn-secondary me-md-2">
                            <i class="bi bi-x"></i> Cancelar / Regresar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-check-circle"></i> {{but}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
