{% extends "base.html" %}
{% block title %}ETLF - Editar Padron{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="bi bi-pencil"></i> Editar placa : {{ padron.placa }}</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('editar_padron', id=padron.id) }}">


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="placa" class="form-label">Placa *</label>
                            <input type="text" class="form-control" id="placa" name="placa" max="6" value="{{ padron.placa }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="dni" class="form-label">Socio *</label>
                            <input type="number" class="form-control" id="dni" name="dni" min="0" max="9999" maxlength="4" value="{{ padron.socio }}" required>
                            <div class="form-text">{{ padron.nombresocio }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="monto1" class="form-label">Ap.Capital</label>
                            <input type="number" class="form-control" id="monto1" name="monto1" min="0.00" max="999.99" maxlength="6" value="{{ padron.monto1 }}" >
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="monto2" class="form-label">Ap.Ahorro</label>
                            <input type="number" class="form-control" id="monto2" name="monto2" min="0.00" max="999.99" maxlength="6" value="{{ padron.monto2 }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="monto3" class="form-label">Ap.Aporte</label>
                            <input type="number" class="form-control" id="monto3" name="monto3" min="0.00" max="999.99" maxlength="6"  value="{{ padron.monto3 }}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="monto4" class="form-label">Ap.Seguro</label>
                            <input type="number" class="form-control" id="monto4" name="monto4" min="0.00" max="999.99" maxlength="6"  value="{{ padron.monto4 }}">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Activo?</label>
                            <select class="form-select" id="active" name="active" required>
                                <option value="S" {{ 'selected' if padron.active == 'S' }}>Si</option>
                                <option value="N" {{ 'selected' if padron.active == 'N' }}>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="alert alert-info">
                        <i class="bi bi-info-circle"></i> 
                        Los campos marcados con * son obligatorios
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Guardar Cambios
                        </button>
                        <a href="{{ url_for('listar_padrones') }}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Volver a la lista
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}