{% extends "base.html" %}
{% block title %}ETLF - Editar Tipo de Tercero{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="bi bi-pencil"></i> Editar Alias : {{ tipo.codigo }}</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('editar_tipo_tercero', id=tipo.id) }}">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="codigo" class="form-label">Alias *</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" max="15" value="{{ tipo.codigo }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="descripcion" class="form-label">Nombre de Tercero *</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" maxlength="50" value="{{ tipo.descripcion }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="monto1" class="form-label">RUC / DNI / Identificacion</label>
                            <input type="text" class="form-control" id="atributo1" name="atributo1" value="{{ tipo.atributo1 }}" maxlength="11">
                        </div>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Guardar Cambios
                        </button>
                        <a href="{{ url_for('listar_tipos_terceros') }}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Volver a la lista
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}