{% extends "base.html" %}
{% block title %}ETLF - Recibos{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="bi bi-speedometer2"></i> Menu de Diferentes Recibos </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-coin"></i>
            </div>
            <h3>Rec. de Ingresos x Aportes</h3>
            <p>Gestión de Recibos Serie RI-001</p>
            <a href="{{ url_for('aportes.aportes') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear Recibos Serie 001
            </a>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-hand-index"></i>
            </div>
            <h3>Boleta Electronica x Bus</h3>
            <p>Gestión de Boletas Electronicas BE-002</p>
            <a href="{{ url_for('aportes.aportes_s2') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear BE Serie 002
            </a>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-clipboard"></i>
            </div>
            <h3>Recibos de Pago</h3>
            <p>Gestion de Conceptos Diversos RP-00?</p>
            <a href="{{ url_for('aportes.aportes_series') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear Recibos de Pago
            </a>
        </div>
    </div>  

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-building"></i>
            </div>
            <h3>Recibos Acceso y Capital</h3>
            <p>Gestión de Recibos Serie RP-003</p>
            <a href="{{ url_for('aportes.aportes_s3') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear Recibos Acesso Capital
            </a>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-bug"></i>
            </div>
            <h3>Recibos ATU Combustible</h3>
            <p>Gestión de Recibos Serie RP-004</p>
            <a href="{{ url_for('aportes.aportes_s4') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear Recibos Serie 004 ATU
            </a>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-cart-plus"></i>
            </div>
            <h3>Recibos Obras</h3>
            <p>Gestión de Recibos Serie RP-005</p>
            <a href="{{ url_for('aportes.aportes_s5') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear Recibos x Obras Jic.
            </a>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card dashboard-card">
            <div class="dashboard-icon">
                <i class="bi bi-clipboard"></i>
            </div>
            <h3>Recibos Despacho</h3>
            <p>Gestión de Recibos Serie RP-006</p>
            <a href="{{ url_for('aportes.aportes_s6') }}" class="btn btn-primary">
                <i class="bi bi-eye"></i> Ver y Crear Recibos Despacho
            </a>
        </div>
    </div>

</div>

{% endblock %}
