{% extends "base.html" %}
{% block title %}ETLF - Prestamos {% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0"><i class="bi bi-receipt-cutoff"></i> Gestión de Prestamos</h4> &nbsp;&nbsp;
                <a href="{{ url_for('dashboardP') }}" class="btn btn-secondary"> <i class="bi bi-arrow-left"></i> Regresar </a>
                <a href="{{ url_for('crear_prestamo') }}" class="btn btn-success"> <i class="bi bi-printer"></i> Nuevo Prestamo </a>
            </div>
            <div class="card-body">
                    <form method="POST" action="{{ url_for('prestamos_socio') }}">
                        <!-- Barra de búsqueda -->
                        <div class="row mb-4">
                            <div class="col-md-2 mb-3">
                                <label for="p1" class="form-label">Fecha Inicial</label>
                                <input type="date" class="form-control" id="p1" name="p1" value="{{p1}}" required>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="p2" class="form-label">Fecha Final</label>
                                <input type="date" class="form-control" id="p2" name="p2" value="{{p2}}" required>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="p3" class="form-label">Padron</label>
                                <select class="form-select" id="p3" name="p3" required>
                                    {% for pp in padrones %}
                                    <option value="{{ pp.id }}" 
                                        {% if pp.id == p3 %} selected {% endif %} >{{ pp.id }} - PLACA: {{ pp.placa }} </option>
                                    {% endfor %}
                                </select>                                    
                            </div>
                            <div class="col-md-2 mb-3">
                                <input class="form-check-input" type="checkbox" id="p4" name="p4" {% if p4 %} checked {% endif %}>
                                <label class="form-check-label" for="p4">Aprobados?</label>
                            </div>
                            <div class="col-md-2 text-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-save"></i> Consultar
                                </button>
                            </div>
                        </div>
                    </form>    
                    <!-- Barra de búsqueda -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Pad</th>
                                    <th>Tipo</th>
                                    <th>Aprobado</th>
                                    <th>Pendiente</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prestamo in prestamos %}
                                <tr class="fila-prestamo">
                                    <td><span class="badge bg-secondary">#{{ prestamo.id }}</span></td>
                                    <td>{{ prestamo.padron }}</td>
                                    <td>{{ prestamo.tipo_nombre }}</td>
                                    <td style="text-align:right">S/{{ "{:,.2f}".format(prestamo.mnt_aprobado)}}</td>
                                    <td style="text-align:right"; color:>
                                         <span class="text-danger">S/{{ "{:,.2f}".format(prestamo.sld_pendiente)}} </span>
                                    </td>
                                    <td>{{ prestamo.fecha_solicitud.strftime('%d/%m/%y') }}</td>
                                    <td>
                                        {% if prestamo.estado == 'pendiente' %}
                                            <span class="badge bg-warning text-dark">Pend</span>
                                        {% elif prestamo.estado == 'aprobado' %}
                                            <span class="badge bg-success">Apro</span>
                                        {% elif prestamo.estado == 'rechazado' %}
                                            <span class="badge bg-danger">Rech</span>
                                        {% elif prestamo.estado == 'evaluacion' %}
                                            <span class="badge bg-danger">Eval</span>
                                        {% else %}
                                            <span class="badge bg-secondary">Pagd</span>
                                        {% endif %}
                                    </td>
                                    </td>
                                </tr>        
                    {% endfor %}
                <tr>  
                    <td colspan="3"></td><td style="text-align:right">S/{{ "{:,.2f}".format(total)}}</td><td style="text-align:right;color:red">S/{{ "{:,.2f}".format(totsp)}}</td><td colspan="2"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}